/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --pricipal: #3778c2;
  --secondary: #5fb523;
  --gray-primary: #434b54;
  --gray-secondary: #545C67;
  --gray-tertiary: #86898E;
  --gray-quaternary: #989DA3;
  --bg-color: #F0F2F1;
  --fn-color: #ffe;
  --alert: #bb5757;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('proxima-nova.ttf') format('truetype');
}

body {
  font-family: 'Proxima Nova Bold', sans-serif;
  max-width: 768px;
  font-size: 16px;
  margin: 0 auto;
  /* border: 1px solid var(--pricipal); */
  background-color: var(--bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.logo {
  width: 300px;
  height: auto;
  background-color: var(--pricipal);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a,
a:visited {
  text-decoration: none;
  color: var(--fn-color);
}

header {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--pricipal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 20px;
  gap: 5px;
}

footer {
  width: 100%;
  height: auto;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.top-container {
  width: 100%;
}

.notice {
  width: 100%;
  height: auto;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.alert {
  width: 100%;
  height: auto;
  background-color: var(--alert);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 0 15px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-primary);
  /* padding-left: 10px; */

}

button,
.btn {
  background-color: transparent;
  color: var(--fn-color);
}

input:focus {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

li {
  text-align: left;
}

.message {
  font-size: 1rem;
  font-weight: 300;
}

.f-button {
  width: 100%;
  border: 2px solid var(--fn-color);
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.f-button:hover {
  background-color: var(--pricipal);
}

.onbody {
  background-color: var(--gray-secondary);
}

.logout {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  gap: 10px;
}

.devise {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 5px; */
  /* gap: 10px; */
  margin-top: 20px;
}

.fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.field {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.field em {
  color: var(--gray-primary);
}

.field label {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #fff;
  padding: 5px;
  color: var(--gray-quaternary);
}

.field input {
  width: 100%;
  height: 40px;
  border: none;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: #fff;
  color: var(--gray-quaternary);
  /* border-bottom: 1px solid var(--gray-quaternary); */
}

.chbx {
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: var(--gray-primary);
  gap: 10px;
}

.actions {
  width: 100%;
}

.back {
  position: absolute;
  top: 24px;
  left: 10px;
  fill: white;
  color: white;
}

.btn-back {
  fill: white;
  color: white;
  transition: all 0.3s ease-in-out;
}

.btn-back:hover {
  fill: var(--secondary);
  color: var(--secondary);
  transform: scale(1.5);
  text-decoration: underline;
}

.img-icon {
  width: 48px;
  height: auto;
  border-radius: 4px;
}

.icons {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  background-color: var(--fn-color);
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 5px;
}

.icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 2px solid var(--pricipal);
  border-radius: 4px;
  padding: 5px;
}

.items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px 10px;
}

.group-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  /* border: 2px solid var(--pricipal); */
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  width: 90%;
}

.group-name {
  font-size: 1  rem;
  color: var(--gray-primary);
  text-align: start;
}

.btn-group {
  border: none;
  cursor: pointer;
  background-color: var(--bg-color);
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.btn-group:hover {
  background-color: var(--gray-tertiary);
}

.lnk-delete {
  color: var(--fn-color);
  background-color: var(--alert);
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.lnk-delete:hover {
  background-color: var(--secondary);
}

.user-name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray-primary);
  padding: 10px;
}

.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.lnk-enter {
  color: var(--fn-color);
  background-color: var(--pricipal);
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.lnk-enter:hover {
  background-color: var(--secondary);
}